<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>동행 | 서울시 어르신 여가,교육,일자리 정보 시스템</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="static/css/custom.css" rel="stylesheet">

	<!-- Modernizr -->
	<script src="static/js/modernizr.js"></script>

</head>

<body>

	<div id="page">

	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<div id="logo">
			<a href="index">
				<img src="static/img/logo.png" width="150" height="36" data-retina="true" alt="" class="logo_normal">
				<img src="static/img/logo_sticky.png" width="150" height="36" data-retina="true" alt="" class="logo_sticky">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="#sign-in-dialog" id="sign-in" class="login" title="로그인">로그인</a></li>
            <li><a href="mypage" class="cart-menu-btn" title="내 정보"></a></li>
			<li><a href="wishlist" class="wishlist_bt_top" title="내가 찜한 목록"></a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href=#>여가&교육</a></span>
					<ul>
                        <li><a href="recommend_leisure">나에게 꼭 맞는 활동 추천</a></li>
						<li><a href="program">실내 프로그램 목록</a></li>
						<li><a href="activities">야외 활동 목록</a></li>
					</ul>
				</li>
				<li><span><a href="#">직업</a></span>
                	<ul>
                        <li><a href="recommend_work">나에게 꼭 맞는 직업 추천</a></li>
						<li><a href="worklist">구직 정보 목록</a></li>
					</ul>
                </li>
                <li><span><a href="#">이용안내</a></span>
					<ul>
						<li><a href="about">서비스 소개</a></li>
						<li><a href="contacts">문의</a></li>
						<li><a href="faq">자주 묻는 질문들</a></li>
					</ul>
				</li>
                <li><span><a href="blog">새소식</a></span></li>
				<li><span><a href="register">회원가입</a></span></li>
			</ul>
		</nav>
	</header>
	<!-- /header -->
	<main>
		<section class="hero_in general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Faq Section</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebar">
						<div class="box_style_cat" id="faq_box">
							<ul id="cat_nav">
								<li><a href="#loading"><i class="icon_document_alt"></i>웹사이트 로딩</a></li>
                                <li><a href="#modify"><i class="icon_document_alt"></i>회원 정보 변경</a></li>
								<li><a href="#login"><i class="icon_document_alt"></i>로그인</a></li>
								<li><a href="#contact"><i class="icon_document_alt"></i>연락처</a></li>
								<li><a href="#share"><i class="icon_document_alt"></i>공유</a></li>
                                <li><a href="#etc"><i class="icon_document_alt"></i>기타</a></li>
							</ul>
						</div>
						<!--/sticky -->
				</aside>
				<!--/aside -->
				
				<div class="col-lg-9" >
					<h4 class="nomargin_top" id="loading" id="top" name="top" >웹사이트 로딩</h4>
					<div role="tablist" class="add_bottom_45 accordion_2">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseTwo_payment" aria-expanded="false">
										<i class="indicator ti-plus"></i>스크립트 오류 창이 뜰 때 어떻게 해결하나요?
									</a>
								</h5>
							</div>
							<div id="collapseTwo_payment" class="collapse" role="tabpanel" data-parent="#payment">
                                <div class="card-body">
                                    <p>우선 인터넷 익스플로러를 열고 메뉴 → 도구 → 인터넷 옵션을 들어가 줍니다. 익스플로러 버전 11은 이렇게 우측 상단에 보시면 톱니바퀴가 있는데 이걸 클릭하시면 바로 인터넷 옵션에 들어가실 수 있습니다.</p>
                                    <img src="static/img/page_error1.png" alt="">
                                    <p>여기서 [고급] 탭으로 들어가서 [원대대로(S)] 를 눌러주게 되면 아래와 같은 팝업창이 뜨게 됩니다.</p>
                                    <img src="static/img/page_error2.png" alt="">
                                    <p>팝업창에 뜨면 [다시 설정]을 눌러주시면 됩니다. <br>자, 여기서 보시면 [개인 설정 삭제]라는 항목이 보이시나요? 저 항목을 체크하게 되면 열어보셨던 웹페이지 목록과 자동로그인 했던 기록들이 다 사라기지 때문에 저런 목록들이 삭제 되는 걸 원치 않으신다면 체크를 하지 마시고 다시 설정을 눌러주시면 됩니다.</p>
                                    <img src="static/img/page_error3.png" alt="">
                                    <p>▶ 더 간단한 TIP<br> 모든 페이지가 아니라 특정한 페이지에서만 이러한 오류가 발생한다면 다음과 같은 방법으로도 해결할 수 있습니다.<br>아까 [고급]탭에서 이렇게 설정을 해주시면 됩니다. 아래와 같이 두 항목을 찾아서 체크 해제를 해주시면 되겠습니다!<br>이러면 이제 짜증나게 뜨던 스크립트 오류를 해결하실 수 있으실 겁니다</p>
                                    <img src="static/img/page_error4.png" alt="">
								</div>
							</div>
						</div>
						<!-- /card -->
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseThree_payment" aria-expanded="false">
										<i class="indicator ti-plus"></i> 사이트의 사진이 보이지 않을 때는 어떻게 하나요?
									</a>
								</h5>
							</div>
							<div id="collapseThree_payment" class="collapse" role="tabpanel" data-parent="#payment">
								<div class="card-body">
                                    <p>먼저, Internet Explorer 10에서 해당 사이트가 호환성 문제가 있지 않은지 확인해 보시기 바랍니다.<br>경우에 따라 방문하고 있는 웹 사이트가 예상대로 표시되지 않을 수 있습니다. 이미지가 표시되지 않고 메뉴의 위치가 적절하지 않으며 텍스트 상자가 뒤섞여 있을 수 있습니다. 이러한 현상은 Internet Explorer와 현재 사이트 간의 호환성 문제로 인해 발생할 수 있습니다.</p>
                                    <p>아래 링크를 통하여 호환성 보기 기능도 참고해 보시고, 동일 시 사이트 지원센터를 통하여 호환성 여부를 확인해 보시기 바랍니다.</p>
                                    <p>작업 방법 1. 호환성 보기를 사용하여 사이트 표시 문제 해결하기<br>http://windows.microsoft.com/ko-kr/internet-explorer/use-compatibility-view#ie=ie-10</p>
                                    <p>작업 방법 2. GPU렌더링 사용해제<br>Internet Explorer 10은 그래픽및 텍스트 렌더링을 CPU에서 GPU로옮겨 웹 페이지의그래픽 성능과 렌더링을가속화합니다. 해당 기능으로인해 다른 하드웨어장치와의 문제가 발생되거나 정상적이지 않은경우 GPU 렌더링을 해제하여 문제점을 확인하여 봅니다</p>
                                    <p>제어판 - 인터넷 옵션 - 고급 탭을 클릭한 후 가속그래픽 섹션으로이동합니다.<br>GPU렌더링 대신소프트웨어 렌더링사용 확인란을클릭합니다.<br>적용, 확인을클릭합니다.<br>모든 Internet Explorer 창을 닫고 다시 Internet Explorer 을시작 합니다. </p>
								</div>
							</div>
						</div>
						<!-- /card -->
					</div>
					<!-- /accordion payment -->

                    <h4 class="nomargin_top" id="mm" name="mm" >회원 정보 변경</h4>
					<div role="tablist" class="add_bottom_45 accordion_2" id="modify" name="modify">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a data-toggle="collapse" href="#collapseOne_terms" aria-expanded="true"><i class="indicator ti-plus"></i>회원 정보 수정은 어떻게 하나요?</a>
								</h5>
							</div>

							<div id="collapseOne_terms" class="collapse" role="tabpanel" data-parent="#terms">
								<div class="card-body">
									<p>홈페이지 내 회원님의 개인정보를 수정하실 수 있는 방법은 다음과 같습니다.</p>
									<p></p>
								</div>
							</div>
						</div>
						<!-- /card -->
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseTwo_terms" aria-expanded="false">
										<i class="indicator ti-plus"></i>나의 관심사를 수정하고 싶어요
									</a>
								</h5>
							</div>
							<div id="collapseTwo_terms" class="collapse" role="tabpanel" data-parent="#terms">
								<div class="card-body">
									<p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
								</div>
							</div>
						</div>
					</div>
					<!-- /accordion Terms -->
					
					<h4 class="nomargin_top" >로그인</h4>
					<div role="tablist" class="add_bottom_45 accordion_2" id="login" name="login">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a data-toggle="collapse" href="#collapseOne_tips" aria-expanded="true" id="login_error"><i class="indicator ti-plus"></i>사이트 로그인이 안 될 경우 어떻게 하나요?</a>
								</h5>
							</div>
							<div id="collapseOne_tips" class="collapse" role="tabpanel" data-parent="#tips">
								<div class="card-body">
									<p> 사이트는 인터넷 익스플로러 9버전부터 원활한 이용이 가능하며 <br>로그인이 정상적으로 되지 않을 경우, 아래의 방법대로 1차 조치를 부탁 드립니다 </p>
									<p>1. 인터넷 익스플로러 사용자<br>1) 인터넷 실행 후 상단의 메뉴 중 [도구] → [인터넷 옵션] 클릭<br>  ※ [도구] 메뉴가 보이지 않을 경우 키보드의 [Alt] 키를 입력하면 메뉴가 나타납니다.<br>2) [고급] 탭에서 [원래대로] 버튼 클릭<br>3) [개인 설정 삭제] V 체크 후 [다시 설정] 클릭</p>
								    <img src="static/img/login_error.jpg" alt="">
                                    <p>2. 크롬 사용자<br>1) 크롬 브라우저 실행 후 키보드의 [ctrl + shift + delete] 키 동시 입력<br>2) 다음 항목 삭제 [전체] → [체크박스] 전체 선택 → [인터넷 사용 기록 삭제] 클릭</p>
                                    <img src="static/img/login_error2.jpg" alt="">
                                </div>
							</div>
						</div>
						<!-- /card -->
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseTwo_tips" aria-expanded="false">
										<i class="indicator ti-plus"></i>아이디/비밀번호가 기억나지 않아요
									</a>
								</h5>
							</div>
							<div id="collapseTwo_tips" class="collapse" role="tabpanel" data-parent="#tips">
								<div class="card-body">
                                    <p>아이디와 비밀번호는 회원님이 입력하신 이메일을 통해 직접 확인하셔야 하며, 이메일도 기억나지 않으신 경우 문의 전화 주시면 안내해 드리겠습니다     *고객센터를 통한 비밀번호 등의 개인 정보 조회/변경 은 불가능 합니다.</p>
                                    <p>(단, 여러가지 방법으로도 찾지 못하신 경우 임시 비밀번호가 발급됩니다.)</p>
								</div>
							</div>
						</div>
						<!-- /card -->
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseThree_tips" aria-expanded="false">
										<i class="indicator ti-plus"></i>회원 가입을 하려는데 '이미 가입 된 회원입니다'라고 나옵니다
									</a>
								</h5>
							</div>
							<div id="collapseThree_tips" class="collapse" role="tabpanel" data-parent="#tips">
								<div class="card-body">
                                    <p>회원님의 인증정보가 이미 등록되어 있는 경우는 다음 2가지로 볼 수 있습니다.</p>
                                    <p>1. 과거에 회원으로 가입하신 후에 가입사실을 잊으신 경우<br>2. 타인이 회원님의 정보를 이용하여 가입한 경우</p>
                                    <p>먼저 로그인 페이지에서 회원가입 유무를 확인하세요.<br>과거에 본인이 가입한 경우라면 ID,비밀번호 문의를 이용하여 다시 이용하실 수 있습니다.</p>
                                    <p>만약, 정보를 확인하지 못하시거나 전혀 모르는 타인에 의하여 가입이 되어 있는 경우 고객센타에 고객문의 (02-2008-5200) 및 사이버 수사대에 신고하여 주시기 바랍니다.</p>
								</div>
							</div>
						</div>
						<!-- /card -->
					</div>
					<!-- /accordion suggestions -->

					<h4 class="nomargin_top" >연락처</h4>
					<div role="tablist" class="add_bottom_45 accordion_2" id="contact" name="contact">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a data-toggle="collapse" href="#collapseOne_reccomendations" aria-expanded="true"><i class="indicator ti-plus"></i>사이트에 있는 정보가 정확하지 않아요 </a>
								</h5>
							</div>

							<div id="collapseOne_reccomendations" class="collapse" role="tabpanel" data-parent="#reccomendations">
								<div class="card-body">
                                    <p>사이트의 정보가 맞지 않을 경우 즉시 문의 부탁드립니다.<br>빠른 시일내에 확인한 후 수정하겠습니다.</p>
								</div>
							</div>
						</div>
						<!-- /card -->
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a class="collapsed" data-toggle="collapse" href="#collapseTwo_reccomendations" aria-expanded="false">
										<i class="indicator ti-plus"></i>내 위치와 상관 없는 곳의 정보가 나와요
									</a>
								</h5>
							</div>
							<div id="collapseTwo_reccomendations" class="collapse" role="tabpanel" data-parent="#reccomendations">
								<div class="card-body">
                                    <p>추천 시스템의 기준은 회원가입시의 주소 정보를 기본으로 이용하게 됩니다. <br>혹시 회원님의 정보가 수정이 필요한 것이 아닌지 확인 부탁드립니다.</p>
								</div>
							</div>
						</div>
					</div>
					<!-- /accordion Reccomendations -->
					
					<h4 class="nomargin_top" >공유</h4>
					<div role="tablist" class="add_bottom_45 accordion_2" id="share" name="share">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a data-toggle="collapse" href="#collapseOne_booking" aria-expanded="true"><i class="indicator ti-plus"></i>글을 공유 할 수 없어요</a>
								</h5>
							</div>

							<div id="collapseOne_booking" class="collapse" role="tabpanel" data-parent="#booking">
								<div class="card-body">
								</div>
							</div>
						</div>
					</div>
					<!-- /accordion Booking -->
                    <h4 class="nomargin_top">기타</h4>
					<div role="tablist" class="add_bottom_45 accordion_2" id="etc" name="etc">
						<div class="card">
							<div class="card-header" role="tab">
								<h5 class="mb-0">
									<a data-toggle="collapse" href="#collapseOne_etc" aria-expanded="true"><i class="indicator ti-plus"></i>그 외 다른 문제가 있으신가요?</a>
								</h5>
							</div>

							<div id="collapseOne_etc" class="collapse" role="tabpanel" data-parent="#booking">
								<div class="card-body">
                                    <p>그 외의 다른 질문이 있으시다면 아래 e-mail을 통해 연락주시기 바랍니다.</p>
                                    <p>pgw636493@gmail.com</p>
                                    <p>또는, <a href="contacts" title="문의">문의</a>  페이지를 참고해 주세요</p>
								</div>
							</div>
						</div>
						<!-- /card -->
					</div>
					<!-- /accordion Booking -->
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!--/container-->
	</main>
	<!--/main-->
	
	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="static/img/logo.png" width="150" height="36" data-retina="true" alt=""></p>
					<p>데이터와 기계학습을 사용한 고도의 추천 알고리즘을 사용하여, 서울 거주 어르신 분들께 딱 맞는 여가생활과 직업을 알려드리는 맞춤형 추천 서비스입니다. 더 많은 최신 소식을 구독해보세요.</p>
					<div class="follow_us">
						<ul>
							<li>팔로우하기</li>
							<li><a href="#0"><i class="ti-facebook"></i></a></li>
							<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#0"><i class="ti-google"></i></a></li>
							<li><a href="#0"><i class="ti-pinterest"></i></a></li>
							<li><a href="#0"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>유용한 링크</h5>
					<ul class="links">
						<li><a href="about">소개</a></li>
						<li><a href="login">로그인</a></li>
						<li><a href="register">회원가입</a></li>
						<li><a href="blog">뉴스 & 이벤트</a></li>
						<li><a href="contacts">문의</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>문의</h5>
					<ul class="contacts">
						<li><a href="tel://0225738000"><i class="ti-mobile"></i> 02 2573 8000</a></li>
						<li><a href="mailto:korra0501@gmail.com"><i class="ti-email"></i> korra0501@gmail.com</a></li>
					</ul>
					<div id="newsletter">
					<h6>최신 소식 받아보기</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="static/assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="메일주소 입력">
							<input type="submit" value="구독" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="footer-selector">
						<li>
							<div class="styled-select" id="lang-selector">
								<select>
									<option value="Korean" selected>한국어</option>
									<option value="English">영어</option>
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="#0">이용약관</a></li>
						<li><a href="#0">개인정보처리방침</a></li>
						<li><span>© 2018 고려대학교 BIG DATA X CAMPUS 6조</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>로그인</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">페이스북으로 로그인</a>
				<a href="#0" class="social_bt google">구글계정으로 로그인</a>
				<div class="divider"><span>혹은</span></div>
				<div class="form-group">
					<label>이메일</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>비밀번호</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<label class="container_check">로그인 유지
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">비밀번호를 잊어버렸나요?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="로그인" class="btn_1 full-width"></div>
				<div class="text-center">
					계정이 없으신가요? <a href="register.html">회원가입</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>비밀번호를 재설정할 메일주소 입력</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>아래 버튼을 누르시면 비밀번호를 재설정 할 수 있는 링크가 메일로 발송됩니다.</p>
					<div class="text-center"><input type="submit" value="비밀번호 재설정" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <script src="static/js/common_scripts.js"></script>
    <script src="static/js/main.js"></script>
	<script src="static/assets/validate.js"></script>
	
	
	
</body>
</html>