<!DOCTYPE html>
<html lang="ko">
{% import "bootstrap/wtf.html" as wtf %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>동행 | 서울시 어르신 여가,교육,일자리 정보 시스템</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="static/css/custom.css" rel="stylesheet">

     <script type="text/javascript">
window.onload = function () {
    $('#collapseMap').on('shown.bs.collapse', function (e) {
        (function (A) {

            if (!Array.prototype.forEach)
                A.forEach = A.forEach || function (action, that) {
                    for (var i = 0, l = this.length; i < l; i++)
                        if (i in this)
                            action.call(that, this[i], i, this);
                };

        })(Array.prototype);

        var
            mapObject,
            markers = [],
            markersData = {
                'Marker': [
                    {% for program in data %}
                        {
                            type_point: '{{ program['type_point'] }}',
                            name: '{{ program['name'] }}',
                            location_latitude: {{ program['location_latitude'] }},
                            location_longitude: {{ program['location_longitude'] }},
                            map_image_url: '{{ program['map_image_url'] }}',
                            rate: '{{ program['rate'] }}',
                            name_point: '{{ program['name_point'] }}',
                            get_directions_start_address: '',
                            phone: '{{ program['phone'] }}',
                            url_point: '{{ program['url_point'] }}'
                        },
                    {% endfor %}
                ]
            };
        var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(37.540705, 126.956764),
            mapTypeId: google.maps.MapTypeId.ROADMAP,

            mapTypeControl: false,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            panControl: false,
            panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,
                position: google.maps.ControlPosition.TOP_LEFT
            },
            scrollwheel: false,
            scaleControl: false,
            scaleControlOptions: {
                position: google.maps.ControlPosition.TOP_LEFT
            },
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            styles: [
                {
                    "featureType": "administrative.country",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.landcover",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.attraction",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.business",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.government",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.medical",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.place_of_worship",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.school",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.sports_complex",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.airport",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.bus",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.rail",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        };
        var
            marker;
        mapObject = new google.maps.Map(document.getElementById('map'), mapOptions);
        for (var key in markersData)
            markersData[key].forEach(function (item) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.location_latitude, item.location_longitude),
                    map: mapObject,
                    icon: 'static/img/pins/' + key + '.png',
                });

                if ('undefined' === typeof markers[key])
                    markers[key] = [];
                markers[key].push(marker);
                google.maps.event.addListener(marker, 'click', (function () {
                    closeInfoBox();
                    getInfoBox(item).open(mapObject, this);
                    mapObject.setCenter(new google.maps.LatLng(item.location_latitude, item.location_longitude));
                }));

            });

        new MarkerClusterer(mapObject, markers[key]);

        function hideAllMarkers() {
            for (var key in markers)
                markers[key].forEach(function (marker) {
                    marker.setMap(null);
                });
        };

        function closeInfoBox() {
            $('div.infoBox').remove();
        };

        function getInfoBox(item) {
            return new InfoBox({
                content:
                '<div class="marker_info" id="marker_info">' +
                '<img src="' + item.map_image_url + '" width="240" height="140" alt=""/>' +
                '<span>' +
                '<span class="infobox_rate">' + item.rate + '</span>' +
                '<h3>' + item.name_point + '</h3>' +
                '<em>' + item.type_point + '</em>' +
                '<strong>' + item.description_point + '</strong>' +
                '<a href="' + item.url_point + '" class="btn_infobox_detail"></a>' +
                '<form action="http://maps.google.com/maps" method="get" target="_blank"><input name="saddr" value="' + item.get_directions_start_address + '" type="hidden"><input type="hidden" name="daddr" value="' + item.location_latitude + ',' + item.location_longitude + '"><button type="submit" value="Get directions" class="btn_infobox_get_directions">Get directions</button></form>' +
                '<a href="tel://' + item.phone + '" class="btn_infobox_phone">' + item.phone + '</a>' +
                '</span>' +
                '</div>',
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(10, 92),
                closeBoxMargin: '',
                closeBoxURL: "static/img/close_infobox.png",
                isHidden: false,
                alignBottom: true,
                pane: 'floatPane',
                enableEventPropagation: true
            });


        };

    });
};
</script>

</head>

<body>

	<div id="page">

	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<div id="logo">
			<a href="index">
				<img src="static/img/logo.png" width="150" height="36" data-retina="true" alt="" class="logo_normal">
				<img src="static/img/logo_sticky.png" width="150" height="36" data-retina="true" alt="" class="logo_sticky">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="#sign-in-dialog" id="sign-in" class="login" title="로그인">로그인</a></li>
            <li><a href="mypage" class="cart-menu-btn" title="내 정보"></a></li>
			<li><a href="wishlist" class="wishlist_bt_top" title="내가 찜한 목록"></a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href=#>여가&교육</a></span>
					<ul>
                        <li><a href="recommend_leisure">나에게 꼭 맞는 활동 추천</a></li>
						<li><a href="program">실내 프로그램 목록</a></li>
						<li><a href="activities">야외 활동 목록</a></li>
					</ul>
				</li>
				<li><span><a href="#">직업</a></span>
                	<ul>
                        <li><a href="recommend_work">나에게 꼭 맞는 직업 추천</a></li>
						<li><a href="worklist">구직 정보 목록</a></li>
					</ul>
                </li>
                <li><span><a href="#">이용안내</a></span>
					<ul>
						<li><a href="about">서비스 소개</a></li>
						<li><a href="contacts">문의</a></li>
						<li><a href="faq">자주 묻는 질문들</a></li>
					</ul>
				</li>
                <li><span><a href="blog">새소식</a></span></li>
				<li><span><a href="register">회원가입</a></span></li>
			</ul>
		</nav>
	</header>
	<!-- /header -->
	
	<main>
		
		<section class="hero_in hotels">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>나에게 딱 맞는 여가&교육 프로그램</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->
		
		<div class="filters_listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="listing_filter" value="all">
							<label for="all">모두 보기</label>
						</div>
					</li>
					<li>
						<div class="layout_view">
							<a href="recommend_leisure"><i class="icon-th"></i></a>
							<a href="" class="active"><i class="icon-th-list"></i></a>
						</div>
					</li>
					<li>
						<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="지도 열기" data-text-original="지도 닫기">지도 닫기</a>
					</li>
				</ul>
			</div>
			<!-- /container -->
		</div>
		<!-- /filters -->
		
		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60_35">
            {% for i in range(30) %}
			<div class="box_list">
				<div class="row no-gutters">
					<div class="col-lg-5">
						<figure>
                          <a id="wish_btn{{ i }}"
                           href="#{{ email }} {{ data[i]['edu_name'] }} {{ data[i]['name'] }}"
                           class="{{ data[i]['wish_flag'] }}"></a>
                        <script>
                            $('#wish_btn0').addClass("wish_bt");</script>
							<small>{{ data[i]['type_point'] }}</small>
							<a href="{{ data[i]['url_point'] }}"><img src="{{ data[i]['map_image_url'] }}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>자세히 보기</span></div></a>
						</figure>
					</div>
					<div class="col-lg-7">
						<div class="wrapper">
                            <h5><a href="{{ data[i]['center_url'] }}">{{ data[i]['name'] }}</a></h5>
							<h2><a href="{{ data[i]['url_point'] }}">{{ data[i]['edu_name'] }}</a></h2>
                                <p>수업내용: {{ data[i]['edu_content'] }}<br>
                                    참고사항: {{ data[i]['edu_ref'] }}<br>
                                    수업료: {{ data[i]['edu_fee'] }}</p>
                                <span class="price"><strong>{{ data[i]['edu_day'] }}</strong>  {{ data[i]['edu_start'] }} ~ {{ data[i]['edu_end'] }}, <i>{{ data[i]['edu_duration'] }}분</i> </span>

						</div>
						<ul>
                            <li><i class="ti-export"></i><a href={{ data[i]['url_point'] }}> 외부 링크</a>
                            </li>
                            <li>
                                <div class="score">
                                    <span>{{ data[i]['edu_category'][0] }}<em>{{ data[i]['edu_category'][1] }}</em></span><strong>8.9</strong>
                                </div>
                            </li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /box_list -->
			{% endfor %}
			
			<p class="text-center add_top_60"><a href="#0" class="btn_1 rounded">Load more</a></p>
		
		</div>
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-md-4">
						<a href="contacts" class="boxed_list">
							<i class="pe-7s-help2"></i>
							<h4>도움이 필요하세요?</h4>
							<p>언제든지 문의주시면 바로 답변드리겠습니다.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="boxed_list">
							<i class="pe-7s-add-user"></i>
							<h4>함께하세요.</h4>
							<p>주변 사람들에게 내가 찜한 목록을 알려주세요.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="boxed_list">
							<i class="pe-7s-bell"></i>
							<h4>새로운 소식을 받아보세요.</h4>
							<p>관심있는 분야의 새로운 소식을 구독하세요.</p>
						</a>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->

	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="static/img/logo.png" width="150" height="36" data-retina="true" alt=""></p>
					<p>데이터와 기계학습을 사용한 고도의 추천 알고리즘을 사용하여, 서울 거주 어르신 분들께 딱 맞는 여가생활과 직업을 알려드리는 맞춤형 추천 서비스입니다. 더 많은 최신 소식을 구독해보세요.</p>
					<div class="follow_us">
						<ul>
							<li>팔로우하기</li>
							<li><a href="#0"><i class="ti-facebook"></i></a></li>
							<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#0"><i class="ti-google"></i></a></li>
							<!-- /container -->
	<li><a href="#0"><i class="ti-pinterest"></i></a></li>
							<li><a href="#0"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>유용한 링크</h5>
					<ul class="links">
						<li><a href="about">소개</a></li>
						<li><a href="login">로그인</a></li>
						<li><a href="register">회원가입</a></li>
						<li><a href="blog">뉴스 & 이벤트</a></li>
						<li><a href="contacts">문의</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>문의</h5>
					<ul class="contacts">
						<li><a href="tel://0225738000"><i class="ti-mobile"></i> 02 2573 8000</a></li>
						<li><a href="mailto:korra0501@gmail.com"><i class="ti-email"></i> korra0501@gmail.com</a></li>
					</ul>
					<div id="newsletter">
					<h6>최신 소식 받아보기</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="static/assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="메일주소 입력">
							<input type="submit" value="구독" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="footer-selector">
						<li>
							<div class="styled-select" id="lang-selector">
								<select>
									<option value="Korean" selected>한국어</option>
									<option value="English">영어</option>
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="#0">이용약관</a></li>
						<li><a href="#0">개인정보처리방침</a></li>
						<li><span>© 2018 고려대학교 BIG DATA X CAMPUS 6조</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

{#<!-- Sign In Popup -->#}
{#	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">#}
{#		<div class="small-dialog-header">#}
{#			<h3>로그인</h3>#}
{#		</div>#}
{#		<form method="post" action="login" novalidate>#}
{#            {{ form.hidden_tag()}}#}
{#			<div class="sign-in-wrapper">#}
{#				<div class="form-group">#}
{#                    {{ wtf.form_field(form.username) }}#}
{#					<i class="icon_mail_alt"></i>#}
{#				</div>#}
{#				<div class="form-group">#}
{#				     {{ wtf.form_field(form.password) }}#}
{#					<i class="icon_lock_alt"></i>#}
{#				</div>#}
{#				<div class="clearfix add_bottom_15">#}
{#					<div class="checkboxes float-left">#}
{#                         {{ wtf.form_field(form.remember_me) }}#}
{#						  <span class="checkmark"></span>#}
{#						</label>#}
{#					</div>#}
{#				</div>#}
{#				<div class="text-center"><input type="submit" value="로그인" class="btn_1 full-width"></div>#}
{#				<div class="text-center">#}
{#					계정이 없으신가요? <a href="register">회원가입</a>#}
{#				</div>#}
{#			</div>#}
{#		</form>#}
{#		<!--form -->#}
{#	</div>#}
{#	<!-- /Sign In Popup -->#}
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <script src="static/js/common_scripts.js"></script>
    <script src="static/js/main.js"></script>
	<script src="static/assets/validate.js"></script>
	
	<!-- Map -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="static/js/map_hotels.js"></script>
	<script src="static/js/infobox.js"></script>
	
	
  
</body>
</html>