<!DOCTYPE html>
<html lang="ko">
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>동행 | 서울시 어르신 여가,교육,일자리 정보 시스템</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="static/css/custom.css" rel="stylesheet">
	
</head>

<body id="register_bg">
	
	<nav id="menu" class="fake_menu"></nav>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	
	<div id="login">
		<aside>
			<figure>
				<a href="index"><img src="static/img/logo_sticky.png" width="155" height="36" data-retina="true" alt="" class="logo_sticky"></a>
			</figure>
			<form action="" method="post" action="register" novalidate>
                {{ form.hidden_tag() }}
				<div class="form-group">
                    {{ wtf.form_field(form.username) }}
					<i class="ti-user"></i>
				</div>
				<div class="form-group">
                    {{ wtf.form_field(form.address) }}
				</div>
				<div class="form-group">
                    {{ wtf.form_field(form.email) }}
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
                    {{ wtf.form_field(form.password) }}
					<i class="icon_lock_alt"></i>
				</div>
				<div class="form-group">
				</div>
				<div id="pass-info" class="clearfix"></div>
				<button  class="btn_1 rounded full-width add_top_30" type="submit">지금 가입하세요!</button>
				<div class="text-center add_top_10">이미 계정이 있으십니까? <strong><a href="login">로그인</a></strong></div>
			</form>
			<div class="copy">© 2018 고려대학교 BIG DATA X CAMPUS 6조</div>
		</aside>
	</div>
	<!-- /login -->
	
	<!-- COMMON SCRIPTS -->
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <script src="static/js/common_scripts.js"></script>
    <script src="static/js/main.js"></script>
	<script src="static/assets/validate.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="static/js/pw_strenght.js"></script>
	
	
  
</body>
</html>